.footer {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.footer a {
  padding: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.2rem;
  background-color: hsl(var(--foreground));
}

.footer p {
  text-align: center;
  font-size: var(--step-0);
  color: hsl(var(--primary));
}

.github {
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
}

.github:hover {
  animation: logo-spin 0.5s ease;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
