.note {
  position: relative;
  background: hsl(var(--card));
  display: block;
  height: 17rem;
  width: 17rem;
  padding: 1rem;
  box-shadow: 5px 5px 7px rgba(104, 104, 103, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note__button {
  background: transparent;
  border: none;
}

.note__button:hover {
  background-color: transparent;
  color: hsl(var(--secondary));
  transform: scale(1.1);
}

.note__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note__header h3 {
  width: 85%;
  font-size: var(--step-0);
  color: hsl(var(--primary-foreground));
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.note__header button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.note__section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  overflow-y: auto;
}

.note__section p {
  width: 100%;
  font-size: var(--step-0);
  color: hsl(var(--secondary));
  word-wrap: break-word;
}

.note__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note__categories {
  display: flex;
  height: 40px;
  gap: 0.2rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.note__category {
  background: #99ffe09f;
  color: hsl(var(--primary-foreground));
  padding: 0.4em;
  border-radius: var(--radius);
  font-weight: 600;
}

.note__not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--step-2);
  color: hsl(var(--primary-foreground));
  transform: rotate(-10deg);
}

.note__button--cancel {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(var(--danger));
  color: hsl(var(--danger-foreground));
  padding: 0.2em 0.5em;
  border-radius: var(--radius);
  cursor: pointer;
  transition: scale 0.3s;
}

.note__button--cancel:hover {
  scale: 1.1;
}

.note__decor {
  position: absolute;
  width: 10rem;
  height: 10rem;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  font-size: var(--step-1);
  color: hsl(var(--secondary));
}

@media screen and (max-width: 768px) {
  .note__decor {
    width: 8rem;
    height: 8rem;
    font-size: var(--step-0);
  }
}

@media screen and (max-width: 480px) {
  .note__decor {
    width: 6rem;
    height: 6rem;
  }
}
