.header-section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.header-section input {
  width: 100%;
  padding: 10px;
}

.header-section button {
  border: none;
}

.header-section svg {
  width: 2rem;
  height: 2rem;
}

.button__search {
  padding: 0.5rem;
}

.card__lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 13rem);
}

.card {
  position: relative;
  background: hsl(var(--card));
  display: block;
  height: 17rem;
  width: 17rem;
  padding: 1rem;
  box-shadow: 5px 5px 7px rgba(112, 109, 83, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 2rem 0 0;
}

.button__card {
  background: transparent;
  color: hsl(var(--primary-foreground));
  border: none;
  padding: 0.3em 0.5em;
  cursor: pointer;
}

.button__card:hover {
  transform: scale(1.1);
  background-color: transparent;
  transition: transform 0.3s;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__header h3 {
  width: 85%;
  font-size: var(--step-0);
  color: hsl(var(--primary-foreground));
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card__header button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.card__section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.card__section p {
  width: 100%;
  font-size: var(--step-0);
  color: hsl(var(--secondary));
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__categories {
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
  overflow: hidden;
}

.card__category {
  background: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  padding: 0.1em;
  border-radius: var(--radius);
}

.card__no-notes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--step-2);
  color: hsl(var(--primary-foreground));
  transform: rotate(-10deg);
}

.button__cancel {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(var(--danger));
  color: hsl(var(--danger-foreground));
  padding: 0.2em 0.5em;
  border-radius: var(--radius);
  cursor: pointer;
  transition: scale 0.3s;
}

.button__cancel:hover {
  scale: 1.1;
}

.filter__button {
  position: relative;
}

.filter__text-popover {
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  height: max-content;
  background: hsl(var(--popover));
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  transition: opacity 0.3s;
  font-size: var(--step--2);
}

.filter__button:hover .filter__text-popover {
  display: block;
}

.categories__modal {
  position: absolute;
  top: 4rem;
  right: 6rem;
  background-color: hsl(var(--popover));
  border-radius: var(--radius) 0 var(--radius) var(--radius);
  border: 1px solid hsl(var(--border));
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  filter: opacity(0.9);
  animation: slideIn 0.3s ease-in-out;
  padding: 0.5rem;
}

.categories__modal button {
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .card__lists {
    height: auto;
  }
}

@media screen and (max-height: 738px) {
  .card__lists {
    height: auto;
  }
}
