:root {
  --background: 224 71.4% 4.1%;
  --foreground: 210 20% 98%;
  --card: 60, 100%, 90%;
  --popover: 224 71.4% 4.1%;
  --popover-foreground: 210 20% 98%;
  --primary: 210 20% 98%;
  --primary-foreground: 220.9 39.3% 11%;
  --secondary: 215 27.9% 16.9%;
  --secondary-foreground: 210 20% 98%;
  --muted: 215 27.9% 16.9%;
  --muted-foreground: 217.9 10.6% 64.9%;
  --accent: 215 27.9% 16.9%;
  --accent-foreground: 210 20% 98%;
  --border: 215 27.9% 16.9%;
  --input: 215 27.9% 16.9%;
  --radius: 0.5rem;
  --danger: 0 100% 63.1%;
  --danger-foreground: 210 20% 98%;

  --max-width: 1400px;

  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem);
  --step-4: clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem);
  --step-5: clamp(2.7994rem, 2.4461rem + 1.7663vw, 3.815rem);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--primary));
  font-family: 'Caveat Variable', cursive;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: var(--max-width);
  width: 100%;
  height: 100dvh;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  margin: 0 auto;
}

img,
video {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1.5rem;
  min-height: calc(100vh - 7rem);
  background: repeating-linear-gradient(
    hsl(var(--background)),
    hsl(var(--background)) 31px,
    hsl(var(--muted)) 31px,
    hsl(var(--muted)) 32px
  );
}

button {
  cursor: pointer;
  background: hsl(var(--background));
  color: hsl(var(--text));
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
}

button:hover {
  background: hsl(var(--accent));
}

input {
  background: hsl(var(--background));
  color: hsl(var(--text));
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  padding: 0.5rem;
}

textarea {
  background: hsl(var(--background));
  color: hsl(var(--text));
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  resize: none;
  padding: 0.5rem;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  body {
    height: auto;
  }

  main {
    height: auto;
    grid-template-columns: 1fr;
  }
}
