.home {
  height: 100%;
  min-height: calc(100vh - 9rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.account__form {
  position: relative;
  max-width: 30rem;
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  background-color: hsl(var(--background));
}

.account__form h1 {
  text-align: center;
  font-size: var(--step-1);
}

.account__form button {
  font-size: var(--step--1);
  padding: 0.5rem 1rem;
}

.account__form-group {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.account__form-group label {
  font-size: var(--step--1);
  font-family: var(--font-roboto);
}

.account__link {
  font-size: var(--step-0);
  color: hsl(var(--primary));
}

.account__link a {
  border: none;
  font-size: var(--step-0);
}

.account__link a:hover {
  text-decoration: underline;
}

.account__activate {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60rem;
  height: 30%;
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
  background-color: hsl(var(--background));
  padding: 1rem;
  gap: 0.5rem;
}

.account__activate h1 {
  text-align: center;
  font-size: var(--step-1);
}

.account__activate p {
  font-size: var(--step-0);
  text-align: center;
  opacity: 0.8;
}

.account__back {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account__back svg {
  color: hsl(var(--primary));
}

.account__activate button {
  padding: 0.5rem 1rem;
}

.account__activate-code {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--step-1);
}

.account__activate-code span {
  text-align: center;
  padding: 0.5rem;
  font-family: var(--font-roboto);
}

.activate__input {
  max-width: 60px;
  height: 60px;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0px;
}

.activate__input:disabled {
  opacity: 0.7;
}

.activate__input:nth-child(1) {
  border-radius: var(--radius) 0 0 var(--radius);
}

.activate__input:nth-child(7) {
  border-radius: 0 var(--radius) var(--radius) 0;
}

.activate__input:focus {
  z-index: 1;
}

.account__error {
  font-size: var(--step--1);
  color: hsl(var(--danger));
  text-align: center;
  font-family: var(--font-roboto);
}

.account__success {
  font-size: var(--step--1);
  text-align: center;
  color: hsl(var(--success));
  font-family: var(--font-roboto);
}

@media screen and (max-width: 768px) {
  .activate__input {
    max-width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 480px) {
  .activate__input {
    max-width: 35px;
    height: 35px;
  }
}
